@import 'tailwindcss';

html {
  font-family: var(--font-roboto), sans-serif;
  color: var(--color-gray-950);
}

body {
  @apply bg-gray-100;
}

.wrapper {
  @apply mx-auto max-w-306 px-4 sm:px-6 lg:px-8 box-content;
}

.inner-wrapper-sm {
  @apply lg:max-w-202 max-w-full;
}

.inner-wrapper-lg {
  @apply max-w-full;
}

.alice-carousel__dots {
  @apply absolute -bottom-14 left-1/2 z-10 -translate-x-1/2 items-center justify-center gap-x-4 m-0! hidden sm:flex;
}

.range {
    @apply h-0.5! bg-gray-300!;
}
.range .range-slider__range {
    @apply h-0.5! bg-gray-950!;
}
.range .range-slider__thumb {
    @apply size-6 bg-white! border-2 border-gray-950;
}

.link {
  @apply text-blue-500 hover:text-blue-700;
}